* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-smooth: antialiased;
    font-family: Bauziet;
    line-height: 1.3em;
    overflow-x: hidden;
    background-color: #e6e9ea;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px;
    width: 50%;
    height: 40px;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
}

@supports (mix-blend-mode: difference) {
    .header {
        mix-blend-mode: difference;
    }

    .header__wordmark {
        color: #F86A83;
    }

    .header__wordmark--dark, .header__mark {
        color: #D2D3D4;
    }
}

.header__wordmark {
    transform-origin: center left;
}

.screens-container {
    position: fixed;
    left: 0;
    bottom: 0;
    transition: transform 300ms ease;
    transform: translateX(-25%) translateY(40%) scale(0.5);
    z-index: 5;
    width: 100%;
}

.screen {
    transform: translateY(100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.35s ease-in-out;
}

.screen--visible {
    transform: translateY(0);
}

.section {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 100px 80px;
}

.intro-section, .outro-section {
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.section__title {
    font-size: 110px;
    line-height: 1em;
    font-weight: 500;
    margin-bottom: 0.3em;
}

.section__description {
    font-size: 28px;
    line-height: 1.3em;
    margin: 28px 0 28px 0;
}

.intro-section {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.intro-section__left, .intro-section__right, .outro-section__left, .outro-section__right {
    height: 100%;
    width: 50%;
    padding: 80px;
}

.intro-section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-section__left-tagline {
    margin-top: 80px;
}

.intro-section__right {
    position: relative;
}

.intro-section__right-background {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #a8adad;
}

.intro-section__right-img {
    position: absolute;
    z-index: 2;
}

.intro-section__right-img-deploy {
    top: -90px;
    left: 15%;
    width: 680px;
    height: 328px;
}

.intro-section__right-img-env-card {
    top: 28%;
    left: -90px;
    width: 615px;
    height: 349px;
}

.intro-section__right-img-type {
    right: -75px;
    bottom: -100px;
    width: 370px;
    height: 590px;
}

.intro-section__right-img-modal {
    bottom: -200px;
    width: 462px;
    height: 515px;
    right: 300px;
}

.section2 {
    margin-top: 80%;
}

.outro-section__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outro-section__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    background: url(public/images/dark-bg.png) no-repeat center center;
    background-size: cover;
}

.outro-section__right-form {
    padding: 0px;
    width: 400px;
    text-align: left;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 15px 60px rgba(0, 0, 0, 0.15), 0px 5px 7px rgba(0, 0, 0, 0.05), 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    transform: translateX(-50%);
}

.input-container {
    padding: 20px 24px;
    border-bottom: 1px solid #E6E9EA;
}

.input-container__label {
    display: block;
    padding: 8px 0;
    font-size: 12px;
}

.input {
    display: block;
    width: 100%;
    background: #F8FAF9;
    border: 1px solid #E6E9EA;
    border-radius: 8px;
    padding: 12px 15px;
    transition: border-color 0.2s ease-out;
    font: inherit;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    display: block;
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5), 0px 2px 3px rgba(0, 0, 0, 0.05), 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 12px 15px;
    background: #FFFFFF url('public/images/arrow-dropdown.svg') no-repeat right 10px center;
}

.button {
    display: block;
    width: 90%;
    color: #FFFFFF;
    background: #141616;
    border-radius: 8px;
    padding: 22px 13px;
    font-weight: 590;
}

.outro-section__right-form .button {
    align-self: center;
    margin: 1rem 0;
}

.footer {
    position: absolute;
    left: 0;
    margin-top: -120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 80px;
    font-size: 14px;
    color: #989D9D;
}

.footer__link {
    color: black;
}

@font-face {
    font-family: "Bauziet";
    src: url("public/fonts/Bauziet\ Norm\ Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Bauziet";
    src: url("public/fonts/Bauziet\ Norm\ Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Bauziet";
    src: url("public/fonts/Bauziet\ Norm\ Bold.ttf");
    font-weight: 700;
}


